body {
    font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}
.h1{
    margin: 60px 0;
    font-size: 40px;
    font-weight: 700;
    

}
.line{
    width: 361px;
    border-bottom: 5px solid #3E45E8;
}
.header{
    min-height: 50px;
    max-height: 103px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 700px;
    padding: 20px;
}

.header-span{
    color: #E8C23E;
}

.banner{
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 206px;
    height: 803px;
    background-image: url("../img/fortetsa.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    padding-top: 7%;
    box-sizing: border-box;
    color: white;
    width: 50%;
    padding-left: 118px;
    font-size: 48px;
    background-repeat: no-repeat;
    height: 272px;
    background-image: url("../img/flag.png");
}
.main{
    padding: 0 80px;
}
.card{
    border: 1px solid black;
    width: 30%;
    display: inline-block ;
    vertical-align: top;
    overflow: hidden;
    border-radius: 45px  25px px;
    box-shadow: 0px 4px 57px bl;
}

.card_image{
    width: 100%;

}
.card_margin{
 margin: 0 4.5%;
}
.card_title{
    font-size: 24px;
    color: #1E8DF2;
    padding: 10px;
    box-sizing: border-box;
}
.card_subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}

.h1_center{
    text-align: center;
    margin: 60px 0;
    font-size: 40px;
    font-weight: 700;
}

.line_center{
    text-align: center;
    width: 361px;
    border-bottom: 5px solid #3E45E8;
}

.ukraine{
    text-align: center;
}

.support{
    text-align: center;
}

a{
display: inline-block;
    color: white;
    background-color: blue;
    padding: 1rem;
}


.mailto{
    text-align: center;
    font-size: 36px;
    color: #A89D9D;
}

.conteiner{
    background-color: #2F4A4B;;
    height: 320px;
}

.iconki{
    display: flex;
}

.inst{
    width: 64px;
    height: 63px;
}

.twitter{
    width: 71px;
    height: 68px;
}

.facebook{
    width: 65px;
    height: 68px;
}

.telegram{
    width: 64px;
    height: 63px;
}
